*{
    /* margin: 0px;
    padding: 0px; */
}
 body{
    background-image: url('/images/image2.png');
    background-size: cover;
<<<<<<< HEAD
    background-repeat: no-repeat;
     background-blend-mode: lighten; 
     font-family: 'Times New Roman', Times, serif; 
 }  
=======
    /* background-blend-mode: lighten; */
    font-family: 'Times New Roman', Times, serif;
}
>>>>>>> 672d8a0296d29368666f1d850a41a98c49099f91
.logo{
    display: flex;
    align-items: center;
    padding: 0px 650px;
}
.logo img{
    height: 120px;
    width: 120px;
    border: 1.5px solid goldenrod;
    border-radius: 50%;
}
.logo p{
    color: darkgreen;
    letter-spacing: 2.5px;
    font-size: 2.5em;
    padding: 0px 30px;
}
/* .heading img{
    height: 190px;
    width: 790px;
    display: block;
    opacity: 0.7;
    margin-left: 25%;
    border-radius: 10px;
    filter: drop-shadow(20px 20px 40px black);
} */
.text{
    display: block;
    letter-spacing: 2px;
    font-size: 2em;
    margin: auto;
    color:goldenrod;
    position: absolute;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
