*{
    margin: 0;
    padding: 0;
}
body{
    background: url('/images/image2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding: 0px 440px;
}
.logo img{
    height: 120px;
    width: 120px;
    border: 1px solid black;
    border-radius: 50%;
}
.logo p{
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 2.5em;
    padding: 0px 30px;
}
.heading img{
    padding: 0px 400px;
    height: 190px;
    width: 570px;
}